<%# <h1>Here comes the sun and 16 personalities</h1>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
 %>

<div class="container">
  <div class="row">
    <% @cards.each_with_index do |card, i| %>
      <div class="col-md-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="<%= card[:img] %>" class="card-img-top" alt="Card image <%= i + 1 %>">
          <div class="card-body">
            <h5 class="card-title"><%= card[:title] %></h5>
            <p class="card-text"><%= card[:text] %></p>
            <a href="<%= card[:link] %>" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <% if (i + 1) % 4 == 0 %>
        </div><div class="row">
      <% end %>
    <% end %>
  </div>
</div>
