<h1><%= @personality.name %></h1>

<h2>Buy this new personality and become a better person :D</h2>


<p><%= @personality.description %></p>
<p><%= @personality.price %></p>



<h1>create a booking</h1>

<%= simple_form_for(@personality) do |f| %>
  <%= f.input :created_at %>
  <%= f.input :updated_at %>
  <%= f.button :submit, "Submit" %>
<% end %>

<h6 style="margin-top:20px"><%= link_to "BAck to all personalities", personalities_path%></h6>
