<div class="container">
<h1>"<%= @personality.name %>"</h1>
<h2>Get this new personality and become a better person </h2>

<p><%= @personality.description %></p>
<p> It would cost you "<%= @personality.price %>"</p>

</div>

<div class="container">

<body>

    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="booking-form">
            <div class="booking-bg"></div>
              <div class="form-header">

              </div>
            <form action="/personalities/<%= @personality.id %>/bookings" method="post">
              <div class="row">

              </div>

                <%= link_to "Book Now", personality_bookings_path(@personality), data:{ turbo_method: :post }, class: "btn btn-info"%>

            </form>
          </div>
        </div>
      </div>
    </div>

</body>
<h6 style="margin-top:20px"><%= link_to "Back to all personalities", personalities_path, class:"btn" %></h6>
</div>
